.about {
    position: relative;
    z-index: 1;
}

.blood {
    position: absolute;
    bottom: 2rem;
    right: 0;
    z-index: -1;
    width: 60%;
    pointer-events: none;
    opacity: .6;
}

.container-logo {
    text-align: center;
}

.about .about-img {
    width: 100%;
    margin: 1rem 0;
}

.about-paragrath {
    margin: 1rem 0;
}

.about-paragrath span {
    color: var(--amarelo-principal);
    text-shadow: -1px 1px orangered;
}