.about {
    position: relative;
}

.blood {
    position: absolute;
    bottom: 2rem;
    right: 0;
    width: 60%;
    pointer-events: none;
}

.container-logo {
    text-align: center;
}

.about .about-img {
    width: 100%;
    margin: 1rem 0;
}

.about-paragrath {
    margin: 1rem 0;
}

.about-paragrath span {
    color: var(--amarelo-principal);
    text-shadow: -1px 1px orangered;
}