.container.ambient {
    background: linear-gradient(rgb(100, 100, 100), black);
    text-align: center;
    z-index: 1;
    overflow-x: hidden;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}

.cards .card {
    background-color: white;
    flex: 1 1 auto;
    border-radius: 15px;
    padding: 10px;
    max-width: 45%;
    box-shadow: 0 0 10px rgb(30, 30, 30);
    transition: .5s ease-out;
}

.cards .card:hover {
    transform: scale(1.04);
}

.img-card {
    border-radius: 10px;
}