.container.events {
    /* background: linear-gradient(black 90%, rgb(210, 210, 210)); */
}

.carousel-lifor {
    border-radius: 20px;
    overflow: hidden;

}

.content-slide {
    background: var(--amarelo-principal);
    /* background:
        linear-gradient(-45deg,
            var(--amarelo-principal) 10%,
            #171616 10%,
            #434343 20%,
            var(--amarelo-principal) 20%,
            var(--amarelo-principal) 30%,
            #171616 30%,
            #434343 40%,
            var(--amarelo-principal) 40%,
            var(--amarelo-principal) 50%,
            #171616 50%,
            #434343 60%,
            var(--amarelo-principal) 60%,
            var(--amarelo-principal) 70%,
            #171616 70%,
            #434343 80%,
            var(--amarelo-principal) 80%,
            var(--amarelo-principal) 90%,
            #171616 100%); */

    padding-bottom: 40px;

    /* padding: 1rem; */
}

.content-description-slide {
    padding: .5rem;
}

.content-description-slide h2 {
    font-size: 29px;
    font-weight: 600;
    color: black;
    text-shadow: -1px 1px white;
}

.content-description-slide p {
    font-size: 16px;
    font-weight: 600;
    color: white;
    letter-spacing: .5px;
    text-shadow: -1px 1px black;
    margin: 0;
}