.container.events {
    /* background: linear-gradient(black 90%, rgb(210, 210, 210)); */
}

.carousel-lifor {
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 0 10px #1bf6f7; */
}

.content-slide {
    background: rgb(50, 50, 50);
    padding-bottom: 40px;
}

.content-description-slide {
    padding: .5rem;
}

.content-description-slide h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--amarelo-principal);
    text-shadow: -1px 1px #000;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--amarelo-principal);
    margin: 0;
}

.content-description-slide p {
    font-size: 14px;
    font-weight: 600;
    color: var(--amarelo-principal);
    letter-spacing: .5px;
    text-shadow: -1px 1px black;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 1.5rem;
}

.row>h2 {
    max-width: 80%;
    display: inline-block;
    margin: 0;
}

.row>img {
    max-width: 20%;
}

.row>h4 {
    color: gray;
    font-size: 14px;
    font-weight: 600;

    letter-spacing: .5px;
    /* text-shadow: -1px 1px black; */
    margin: 0;
    display: inline-block;
    width: auto;
}