.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.container-logo img {
    height: 60px;
}

.row-header {
    background: linear-gradient(black, black);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.transition {
    height: 40px;
    background: linear-gradient(black, transparent 95%);
}

.menu {
    font-size: 38px;
    color: whitesmoke;
}