@import url(reset.css);
@import url(header.css);
@import url(banner.css);
@import url(about.css);
@import url(event.css);
@import url(ambient.css);
@import url(quotes.css);
@import url(rodape.css);
@import url(https://fonts.cdnfonts.com/css/segoe-ui-4);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);

:root {
    --bg: rgb(8, 8, 8);
    --amarelo-principal: #fec80e;
    --gradient: linear-gradient(#ffd028, rgb(255, 90, 29));
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg);
    color: #f5f5f5;
    overflow-x: hidden;
}

main {
    padding-top: 80px;
    position: relative;
}


#text {
    font-weight: 700;
    font-size: 36px;
    color: var(--amarelo-principal);
    text-shadow: -1px 2px orangered;
}

.main-title {
    color: var(--amarelo-principal);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 1.2rem;
    text-transform: uppercase;
    text-shadow: -1px 1.5px orangered;
}

.titulo-secundario {
    text-transform: uppercase;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: 900;
}

.titulo-terciario {
    color: var(--amarelo-principal);
    text-shadow: -.5px 1px orangered;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .3px;
    margin: .5rem 0;
}

.paragrath-principal {
    color: rgb(100, 100, 100);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: .1px;
}

.secondary-paragraph {
    font-size: 16px;
    color: darkslategray;
    font-weight: 600;
    margin: 0;
}

.container {
    padding: 1.5rem 1rem;
    background-color: black;
    overflow-x: hidden;
}

.container:nth-of-type(even) {
    background-color: rgb(3, 3, 3);
}




.main-btn {
    color: #fff;
    background-color: #feb20e;
    padding: .75rem 2rem;
    text-decoration: none;
    border: 3px solid black;
    font-size: 21px;
    font-weight: 700;
    border-radius: 60px;
    box-shadow: 0 0 5px var(--amarelo-principal);
}

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="bottom"] {
    transform: translate3d(0, 5rem, 0);
}

[data-anime="left"] {
    transform: translate3d(-5rem, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(5rem, 0, 0);
}

[data-anime].animated {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.blink {
    color: darkgray;
    animation: blink .5s linear infinite;
    font-size: 3em;
}

.material-symbols-outlined {
    color: var(--amarelo-principal);
    font-size: 45px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}